body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: #ffffff;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.nav-bar * {
  display: flex;
}

.home-logo {
  flex-grow: 1;
  align-items: center;
  justify-content: start;
}

.header-menu {
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  color: #606060;
}

.menu-list {
  padding: 0px;
}

.menu-list > li {
  padding: 0px 5px;
}

.checkout-menu {
  flex-grow: 1;
  align-items: center;
  justify-content: end;
  color: #606060;
}

.checkout-list > li {
  padding: 0px 10px;
}

.nav-bar {
  display: flex;
  padding: 0px 32px;
}

.nav-bar li {
  list-style: none;
}

.home-logo {
  color: #123466;
}

.search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.tab {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main div {
  display: flex;
}

.hero {
  background-image: url(./clive-coffee-pic.jpg);
  background-size: cover;
  flex-grow: 1;
  justify-content: center;
  color: rgb(242, 242, 242);
  align-items: center;
  height: 800px;
  background-position: center;
  font-size: 35px;
}

.calculator {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #606060;
  padding: 2rem;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.text-holder {
  justify-content: center;
  width: 800px;
}

.text-holder > p {
  font-size: 19px;
}

.interactive-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interactive-section > h4 {
  padding: 0.5rem 0;
}

.roi-input > p {
  font-size: 16px;
}

.results {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 2rem;
  background-color: rgba(211, 211, 211, 0.123);
}

.roi-results {
  flex-direction: column;
  flex-grow: 1;
}

.roi-input p {
  font-size: 18px;
}

h3,
h5 {
  display: flex;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#number-of-drinkers,
#drink-frequency,
#espresso-package-budget,
#ind-drink-price,
.result {
  margin: 0;
  padding: 5px;
}

.results p {
  margin: 5px;
  color: #606060;
  font-size: 18px;
}
.results h5 {
  margin: 5px;
  color: #606060;
  font-size: 18px;
}

ul,
ul * {
  display: flex;
}

input[type="range"] {
  width: 800px;
}

.footer {
  color: #123466;
}

#roi-milk > p,
#bean-editor > p {
  font-size: 19px;
}

#three-milks > input[type="radio"] {
  margin: 0px 10px;
}

#bag-selector {
  justify-content: center;
}
