body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: gulim;
  background-color: #ffffff;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.nav-bar * {
  display: flex;
}

.home-logo {
  flex-grow: 1;
  align-items: center;
  justify-content: start;
  color: rgb(226, 32, 32);
}

.header-menu {
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  color: #482c15;
  font-family: gulim;
}

.menu-list {
  padding: 0px;
}

.menu-list > li {
  padding: 0px 5px;
}

.checkout-menu {
  flex-grow: 1;
  align-items: center;
  justify-content: end;
  color: rgb(226, 32, 32);
}

.checkout-list > li {
  padding: 0px 10px;
}

.nav-bar {
  display: flex;
  padding: 0px 32px;
}

.nav-bar li {
  list-style: none;
}

.search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.tab {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main div {
  display: flex;
}

.hero {
  background-image: url(./clive-coffee-pic.jpg);
  background-size: cover;
  flex-grow: 1;
  justify-content: center;
  color: rgb(242, 242, 242);
  align-items: center;
  height: 800px;
  background-position: center;
  font-size: 35px;
}

.calculator {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #482c15;
  padding: 2rem;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.text-holder {
  justify-content: center;
  width: 800px;
}

.text-holder > p {
  font-size: 19px;
  color: #606060;
}

.interactive-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interactive-section h4 {
  padding: 0.5rem 0;
  color: black;
}

.roi-input > p {
  font-size: 16px;
}

.results {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 2rem;
  background-color: white;
}

.roi-results {
  flex-direction: column;
  flex-grow: 1;
}

.roi-results h3 {
  color: rgb(226, 32, 32);
}

.roi-input p {
  font-size: 18px;
}

h3,
h5 {
  display: flex;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#number-of-drinkers,
#drink-frequency,
#espresso-package-budget,
#ind-drink-price,
.result {
  margin: 0;
  padding: 15px;
}

.results p {
  margin: 5px;
  color: #606060;
  font-size: 18px;
}
.results h5 {
  margin: 5px;
  color: #482c15;
  font-size: 18px;
}

ul,
ul * {
  display: flex;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 800px;
  height: 1rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #fef3f1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  background-color: red;
  height: 1rem;
  width: 1.5rem;
}
.footer {
  color: #123466;
  display: flex;
  justify-content: center;
  align-items: center;
}

#roi-milk > p,
#bean-editor > p {
  font-size: 19px;
}

#three-milks > input[type="radio"] {
  margin: 0px 10px;
}

#roi-milk {
  justify-content: center;
}

#priceOfBeans-selector {
  justify-content: center;
}

input[type="number"] {
  border-radius: 5px;
  padding: 3px 10px;
  font-family: inherit;
  background-color: rgba(211, 211, 211, 0.123);
}

input[type="number"]:hover {
  background-color: rgba(128, 128, 128, 0.076);
  color: white;
}

.note {
  font-size: 12px;
}
